# Pyspark GroupBy And Aggregate Functions

In [1]:
# Import libraries
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Agg').getOrCreate()

25/02/26 22:07:32 WARN Utils: Your hostname, Ardens-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.100.50 instead (on interface en0)
25/02/26 22:07:32 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/02/26 22:07:33 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df_pyspark=spark.read.csv('name_data2.csv', header=True, inferSchema=True)
df_pyspark.show()

+-----+------------+------+
| Name|  Department|Salary|
+-----+------------+------+
|Arden|Data Science|100000|
|Mabel|Data Science| 90000|
|Lizel|Data Science| 80000|
|Arden|    Big Data| 75000|
|Mabel|    Big Data| 85000|
|Lizel|    Big Data| 77000|
|Arden|         IOT| 55000|
|Mabel|         IOT| 62000|
|Lizel|         IOT| 61000|
+-----+------------+------+

In [4]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [ ]:
# Group to find the maximum salary
df_pyspark.groupBy('Name').sum().show()

+-----+-----------+
| Name|sum(Salary)|
+-----+-----------+
|Mabel|     237000|
|Lizel|     218000|
|Arden|     230000|
+-----+-----------+

In [7]:
# Group by Departments which gives maximum salary
df_pyspark.groupBy('Department').sum().show()

+------------+-----------+
|  Department|sum(Salary)|
+------------+-----------+
|         IOT|     178000|
|    Big Data|     237000|
|Data Science|     270000|
+------------+-----------+

In [ ]:
# Find the mean salary for each department
df_pyspark.groupBy('Department').mean().show()

+------------+------------------+
|  Department|       avg(Salary)|
+------------+------------------+
|         IOT|59333.333333333336|
|    Big Data|           79000.0|
|Data Science|           90000.0|
+------------+------------------+

In [ ]:
# Find how many employees do we have for each department
df_pyspark.groupBy('Department').count().show()

+------------+-----+
|  Department|count|
+------------+-----+
|         IOT|    3|
|    Big Data|    3|
|Data Science|    3|
+------------+-----+

In [ ]:
# Use direct aggregation. Show total Salary
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     685000|
+-----------+

In [11]:
# Who is getting the maximum salary
df_pyspark.groupBy('Department').max().show()

+------------+-----------+
|  Department|max(Salary)|
+------------+-----------+
|         IOT|      62000|
|    Big Data|      85000|
|Data Science|     100000|
+------------+-----------+