# Pyspark Dataframes
- Filter Operation
- &,|,==
- ~

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('dataframe').getOrCreate()

25/02/26 18:34:52 WARN Utils: Your hostname, Ardens-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.100.50 instead (on interface en0)
25/02/26 18:34:52 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/02/26 18:34:53 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/02/26 18:34:54 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/02/26 18:34:54 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [3]:
df_pysark=spark.read.csv('name_data.csv', header=True, inferSchema=True)
df_pysark.show()

+-----------------+----+----------+------+
|             Name| Age|Experience|Salary|
+-----------------+----+----------+------+
|      Kaizer Tena|  32|        10|100000|
|       Lizel Cruz|  31|        12| 34000|
|             NULL|  35|        15| 58000|
|  Mabel Sarmiento|  28|        14| 65000|
| Aerold Sarmiento|  30|      NULL| 79000|
|  Arden Sarmiento|  29|         8|  NULL|
|  Aaron Sarmiento|  34|         9| 66000|
|Abigael Sarmiento|NULL|         7| 99000|
|             NULL|  36|      NULL| 11000|
+-----------------+----+----------+------+

### Filter Operations

In [ ]:
# Salary of the people less than or equal to 60,000
df_pysark.filter("Salary<=60000").show()

+----------+---+----------+------+
|      Name|Age|Experience|Salary|
+----------+---+----------+------+
|Lizel Cruz| 31|        12| 34000|
|      NULL| 35|        15| 58000|
|      NULL| 36|      NULL| 11000|
+----------+---+----------+------+

In [7]:
df_pysark.filter("Salary<=60000").select(['Name','Age']).show()

+----------+---+
|      Name|Age|
+----------+---+
|Lizel Cruz| 31|
|      NULL| 35|
|      NULL| 36|
+----------+---+

In [ ]:
# Multiple conditions
df_pysark.filter((df_pysark['Salary']<=60000) & 
                 (df_pysark['Salary']>=20000)).show()

+----------+---+----------+------+
|      Name|Age|Experience|Salary|
+----------+---+----------+------+
|Lizel Cruz| 31|        12| 34000|
|      NULL| 35|        15| 58000|
+----------+---+----------+------+

In [ ]:
# NOT operation
df_pysark.filter(~(df_pysark['Salary']<=60000)).show()

+-----------------+----+----------+------+
|             Name| Age|Experience|Salary|
+-----------------+----+----------+------+
|      Kaizer Tena|  32|        10|100000|
|  Mabel Sarmiento|  28|        14| 65000|
| Aerold Sarmiento|  30|      NULL| 79000|
|  Aaron Sarmiento|  34|         9| 66000|
|Abigael Sarmiento|NULL|         7| 99000|
+-----------------+----+----------+------+