# Tutorial 1-Pyspark With Python-Pyspark Introduction and Installation

In [1]:
# Import libraries needed
import pyspark
import pandas as pd

In [2]:
pd.read_csv('name_data.csv')

               Name  Age
0   Arden Sarmiento   29
1   Mabel Sarmiento   28
2  Aerold Sarmiento   30

In [12]:
type(pd.read_csv('name_data.csv'))

pandas.core.frame.DataFrame

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

25/02/21 22:20:42 WARN Utils: Your hostname, Ardens-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.100.50 instead (on interface en0)
25/02/21 22:20:42 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/02/21 22:20:43 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
spark

In [6]:
df_pyspark=spark.read.csv('name_data.csv')

In [7]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [8]:
df_pyspark.show()

+----------------+---+
|             _c0|_c1|
+----------------+---+
|            Name|Age|
| Arden Sarmiento| 29|
| Mabel Sarmiento| 28|
|Aerold Sarmiento| 30|
+----------------+---+

In [11]:
df_pyspark = spark.read.option('header','true').csv('name_data.csv')
df_pyspark

DataFrame[Name: string, Age: string]

In [13]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [15]:
df_pyspark.head(10)

[Row(Name='Arden Sarmiento', Age='29'),
 Row(Name='Mabel Sarmiento', Age='28'),
 Row(Name='Aerold Sarmiento', Age='30')]

In [16]:
# Same as df.info()
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)